
.scroll::-webkit-scrollbar {
    width: 10px;
  }
  

  .scroll::-webkit-scrollbar-track {
    background: #020202;
  }
  

  .scroll::-webkit-scrollbar-thumb:hover {
    background: #d00000;
  }
  

  .scroll::-webkit-scrollbar-thumb {
    background: #900000;
    border-radius: 10px;
  }